<div class="container">
    <h1>Cadastrar</h1>

    <div class="formulario">
        <form>
            <div class="inputs">
                <div class="input-box">
                    <label>Código</label>
                    <input type="text" placeholder="Código do veículo" name="id" [(ngModel)] = "veiculo.id" disabled>
                </div>
    
                <div class="input-box">
                    <label>Marca</label>
                    <input type="text" placeholder="Marca do veículo" name="marca" [(ngModel)] = "veiculo.marca">
                </div>
    
                <div class="input-box">
                    <label>Modelo</label>
                    <input type="text" placeholder="Modelo do veículo" name="modelo" [(ngModel)] = "veiculo.modelo">
                </div>
    
                <div class="input-box">
                    <label>Ano</label>
                    <input type="text" placeholder="Ano do veículo" name="ano" [(ngModel)] = "veiculo.ano">
                </div>
    
                <div class="input-box">
                    <label>Km</label>
                    <input type="text" placeholder="KM do veículo" name="km" [(ngModel)] = "veiculo.km">
                </div>
            </div>

            <div class="buttons">
                <button type="button" (click)="cadastrar()">Cadastrar Veiculo</button>
                <button type="button" (click)="atualizar(veiculo.id)">Atualizar Veiculo</button>
                <button type="button" (click)="excluir(veiculo.id)">Excluir Veiculo</button>
            </div>
        </form>
    </div>
</div>
