<section>
    <div class="container">
        <table>
            <tr>
              <th>Código</th>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Ano</th>
              <th>Km</th>
              <th>Atualizar</th>
              <th>Deletar</th>
            </tr>

            <tr *ngFor="let veiculo of veiculos">
                <td>{{veiculo.id}}</td>
                <td>{{veiculo.marca}}</td>
                <td>{{veiculo.modelo}}</td>
                <td>{{veiculo.ano}}</td>
                <td>{{veiculo.km}}</td>
                <td><img src="../../assets/img/mural/update.png" alt="Atualizar" routerLink="/painel"></td>
                <td><img src="../../assets/img/mural/delete.png" alt="Deletar" routerLink="/painel"></td>
            </tr>
        </table>
    </div>
</section>

<!-- <table>
  <tr>
    <th>Código</th>
    <th>Marca</th>
    <th>Modelo</th>
    <th>Ano</th>
    <th>Km</th>
  </tr>

  <tr>
    <td>{{veiculo.id}}</td>
    <td>{{veiculo.marca}}</td>
    <td>{{veiculo.modelo}}</td>
    <td>{{veiculo.ano}}</td>
    <td>{{veiculo.km}}</td>
  </tr>

</table> -->