.container {
    padding: 50px;
    height: calc(100vh - 340px);
}

#wrapper {
    margin: auto;
}

table {
    margin: auto;
}

tr {
    text-align: center;
}

th {
    color: #FFF;
    padding: 20px 0px;
    background-color: #C0121A;
    text-transform: uppercase;
}

th,
td {
    width: 200px;
    padding: 10px 0px;
}

thead>tr {
    position: relative;
    display: block;
}

tbody {
    display: block;
    height: 500px;
    overflow: auto;
}

img {
    width: 25px;
}

.list-none {
    display: flex;
    justify-content: center;
    margin: 5em 0px;
    font-size: large;
}