<section>
    <div class="container">
      <div *ngIf="veiculos.length > 0" id="wrapper">
        <table>
            <thead>
              <tr>
                <th>Código</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Ano</th>
                <th>Km</th>
                <th>Atualizar</th>
                <th>Deletar</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let veiculo of veiculos">
                <td>{{veiculo.id}}</td>
                <td>{{veiculo.marca}}</td>
                <td>{{veiculo.modelo}}</td>
                <td>{{veiculo.ano}}</td>
                <td>{{veiculo.km}}</td>
                <td><img src="../../assets/img/mural/update.png" alt="Atualizar" routerLink="/painel"></td>
                <td><img src="../../assets/img/mural/delete.png" alt="Deletar" routerLink="/painel"></td>
              </tr>
            </tbody>

          </table>
        </div>

        <div class="list-none" *ngIf="veiculos.length === 0">
          <p>Nenhum veículo cadastrado</p>
        </div>
    </div>
</section>